<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin Profile</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/profile.css}">
</head>
<body>
<header>
    <nav class="navigation">
        <a th:href="@{/}">Вернуться на главную страницу</a>
        <a th:href="@{/requests/all}">Посмотреть входящие заявки от пользователей</a>
    </nav>
</header>

<div class="info-box">
    <h2 th:text="${userDto.username} + ' ' + ${userDto.surname}"></h2>
    <div class="input-box">
        <p>Возраст: <span th:text="${userDto.age}"></span></p>
    </div>
    <div class="input-box">
        <p>Город: <span th:text="${userDto.city}"></span></p>
    </div>
    <div class="input-box">
        <p>Интересы: <span th:text="${userDto.interesting}"></span></p>
    </div>
    <div class="input-box">
        <p>Почта: <span th:text="${userDto.email}"></span></p>
    </div>
</div>
</body>
</html>