<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>All requests</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/all_request.css}">
</head>
<body>
<header>
    <nav class="navigation">
        <a th:href="@{/profile}">Назад</a>
    </nav>
</header>
<div class="info-box">
    <h2>Все заявки от пользователей</h2>
    <div class="responses">
        <table >
            <tr>
                <th>Название заявки</th>
                <th>Подробнее о заявке</th>
                <th>Пользователь</th>
                <th>Ответ</th>
            </tr>
            <tr th:each="request : ${requests}">
                <td th:text="${request.model_name}"></td>
                <td><a th:href="@{/requests/details/{id}(id=${request.id})}">Подробнее о заявке</a></td>
                <td th:text="${request.login}"></td>
                <td><a th:href="@{/requests/create-response(requestId=${request.id})}">Ответ на заявку</a></td>
            </tr>
        </table>
    </div>
</div>
</body>
</html>