<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Completed applications</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/completed_applications.css}">
</head>
<body>
<header>
    <nav class="navigation">
        <a th:href="@{/profile}">Вернуться назад</a>
    </nav>
</header>
<div class="info-box">
    <h2>Оформленные заявки</h2>
    <ul>
        <li th:each="request : ${completedRequests}">
            <span th:text="${request.model_name}"></span>
            <a th:href="@{/completed-requests/{id}(id=${request.id})}">Подробнее</a>
        </li>
    </ul>
</div>
</body>
</html>