body, header {
    background: linear-gradient(to right, #ff9966, #ff5e62);
    font-family: "Times New Roman", sans-serif;
}

.navbar {
    background: linear-gradient(to right, #ffaa66, #ff6e72);
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(255,255,255,0.5)' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-nav .nav-link {
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.1);
}

.navbar-nav .nav-link:hover {
    background-color: rgba(255, 255, 255, 0.2);
}


