<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>MainPage</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}">
</head>
<body>
<header>
    <h2 class="Mex">Mex</h2>
    <nav class="navigation">
        <a th:href="@{/login}" th:if="${!showProfileLink}">Login</a>
        <a th:href="@{/register}" th:if="${!showProfileLink}">Registration</a>
        <a th:href="@{/developer}" th:if="${!showProfileLink}">About Developer</a>
        <a th:href="@{/profile}" th:if="${showProfileLink}">My profile</a>
        <span th:if="${showProfileLink}" class="logged-in">Logged in as: <span th:text="${username}"></span></span>
        <a th:if="${showProfileLink}" th:href="@{/logout}">Logout</a>
    </nav>
</header>
</body>
</html>