<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>MainPage</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}">
</head>
<body>
<header>
    <h2 class="Mex">Mex</h2>
    <nav class="navigation">
        <a th:href="@{/login}" th:if="${!showProfileLink}">Логин</a>
        <a th:href="@{/register}" th:if="${!showProfileLink}">Регистрация</a>
        <a th:href="@{/developer}" th:if="${!showProfileLink}">Об разработчике</a>
        <a th:href="@{/profile}" th:if="${showProfileLink}">Мой профиль</a>
        <span th:if="${showProfileLink}" class="logged-in">Вошел пользователь: <span th:text="${username}"></span></span>
        <a th:if="${showProfileLink}" th:href="@{/logout}">Выйти</a>
        <a th:if="${showProfileLink }" th:href="@{/responses/all}">Ответы от Админов</a>
    </nav>
</header>
</body>
</html>