<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/register.css}">
</head>
<body>
<section>
    <div class="register-box">
        <form action="/register" method="post" th:object="${userDto}">
            <h2>Регистрация</h2>
            <div class="input-box">
                <input type="text" id="login" name="login" th:field="*{login}" required>
                <label for="login">Логин:</label>
            </div>
            <div class="input-box">
                <input type="password" id="password" name="password" th:field="*{password}" required>
                <label for="password">Пароль:</label>
            </div>
            <div class="input-box">
                <input type="text" id="username" name="username" th:field="*{username}" required>
                <label for="username">Имя:</label>
            </div>
            <div class="input-box">
                <input type="text" id="surname" name="surname" th:field="*{surname}" required>
                <label for="surname">Фамилия:</label>
            </div>
            <div class="input-box">
                <input type="text" id="age" name="age" th:field="*{age}" required>
                <label for="age">Возраст:</label>
            </div>
            <div class="input-box">
                <input type="text" id="city" name="city" th:field="*{city}" required>
                <label for="city">Город:</label>
            </div>
            <div class="input-box">
                <input type="text" id="interesting" name="interesting" th:field="*{interesting}" required>
                <label for="interesting">Интересы:</label>
            </div>
            <div class="input-box">
                <input type="email" id="email" name="email" th:field="*{email}" required>
                <label for="email">Почта:</label>
            </div>
            <button type="submit">Зарегестрироваться</button>
        </form>
    </div>
</section>
</body>
</html>