<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Request Details</title>
</head>
<body>
<header>
    <nav class="navigation">
        <a th:href="@{/requests/all}">Back</a>
    </nav>
</header>
<h1>Request Details</h1>
<p>Model Name: <span th:text="${request.model_name}"></span></p>
<p>Data: <span th:text="${request.data}"></span></p>
<img src="" id="photoPreview">
<p>Text: <span th:text="${request.text}"></span></p>
</body>
<script>
    const photo = localStorage.getItem('photo');
    document.getElementById('photoPreview').src = photo;
</script>
</html>