<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Request Details</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/request_details.css}">
</head>
<body>
<header>
    <nav class="navigation">
        <a th:href="@{/completed-requests}">Back</a>
    </nav>
</header>
<div class="info-box">
    <h2>Подробнее о заявке</h2>
    <p>Имя заявки: <span th:text="${request.model_name}"></span></p>
    <p>Фотография: </p>
    <img src="" id="photoPreview">
    <p>Текст с проблемой: <span th:text="${request.text}"></span></p>
</div>
<script th:src="@{/js/photo.js}"></script>
</body>
</html>