<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Request Details</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/request_details_admin.css}">
</head>
<body>
<header>
    <nav class="navigation">
        <a th:href="@{/requests/all}">Вернуться обратно</a>
    </nav>
</header>
<div class="info-box">
    <h2>Подробнее о заявке</h2>
    <p>Имя заявки: <span th:text="${request.model_name}"></span></p>
    <p>Дата заявки: <span th:text="${request.data}"></span></p>
    <img src="" id="photoPreview">
    <p>Текст о проблеме: <span th:text="${request.text}"></span></p>
</div>
</body>
<script>
    const photo = localStorage.getItem('photo');
    document.getElementById('photoPreview').src = photo;
</script>
</html>