<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Info</title>
</head>
<body>
<h2>Подробная информация о пользователе:</h2>
<div th:if="${userDetails}">
    <p>Имя: <span th:text="${userDetails.username}"></span></p>
    <p>Фамилия: <span th:text="${userDetails.surname}"></span></p>
    <p>Возраст: <span th:text="${userDetails.age}"></span></p>
    <p>Город: <span th:text="${userDetails.city}"></span></p>
    <p>Интересы: <span th:text="${userDetails.interesting}"></span></p>
</div>
</body>
</html>